# --- Data (raw + big) ---
data/*
!data/README.md

# --- Results (show small outputs only) ---
results/*
!results/README.md
!results/*.png
!results/*.csv
!results/*.tsv
!results/*.html

# --- RStudio project files ---
.Rproj.user
.Rhistory
.RData

# --- Saved R objects ---
*.RData
*.rds
myDGEList
